// === variables ===

// = colors =
$color-black: #000000;
$color-white: #ffffff;
$color-red: #ff0000;
$color-darkred: #af0000;
$color-gray: #979797;

// = transition =
$transition-03: 0.3s ease-in-out;

// === / variables ===
